/*
    项目负责人：赵强
    项目创建日期:2017.7.20
    最新更新:2017.7.22
    修改人员:赵强
    修改日期:2017.7.22
    修改原因:手机横屏兼容
    修改代码行数区间: @media~最后
*/
body{background: #F2F2F2;}
/* 返回顶部 */
#go{ position: fixed; right: 2%; bottom: 100px; display: none; z-index: 1000; font-size: 0.4em;}
#go a{ display: block; width: 40px; height: 40px; border-radius:20px; border:1px solid #ECECEC; background: #fff; text-align: center; line-height: 45px; color: #7F7F82;}

/* header */
header .top{ width: 100%; height: 50px; background: #E72C21; color: #fff; text-align: center; line-height: 50px; font-size: 2em; font-family: "微软雅黑","宋体"; position:fixed; top: 0; left: 0; z-index:100; }

/************************************ swiper全局 ***************************************/
.swiper-slide{ text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
/****************************************************************************************/

/********************** touch整体布局样式,非特殊情况,请勿修改 **************************/
/* 整体 */
.box-163css{ width:100%; position:relative; height:auto; margin-bottom:20px; float:left;}

/*内容*/
.swipe{width:100%; float:left; visibility: visible; position: relative; height:auto;}
.box01_list{position:relative; -webkit-transition: left 600ms ease-out;  width:100%; left:0;}
.li_list{width:100%; height: 100%; height:1398px; position:relative; top:90px; float: left; vertical-align: top;}
/****************************************************************************************/



/* banner */
#banner{ width: 100%; height: 150px;}
#banner .swiper-container { width: 100%; height: 100%; margin-left: auto; margin-right: auto;}
#banner .swiper-slide { text-align: center; font-size: 1.2em; background: #fff;}
#banner .one{text-align: right;}
#banner .swiper-pagination-bullet{width:6px; height:6px; display:inline-block; border-radius:100%; background:#fff; opacity: 1; margin-left: 0;}
#banner .swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:2px; left:0; width:100%}
#banner .swiper-pagination-bullet-active{opacity:1; background:#f00;}

/* 两排图标 */
#two{ height: 150px; background: #fff;}
#two .swiper-container { width: 100%; margin-left: auto; margin-right: auto;}
#two .swiper-slide { text-align: center; background: #fff; padding-top: 14px; font-size: 0.9em;  height: 70px;}
#two .swiper-slide a{color: #797979;}
#two .swiper-slide img{ width: 50%;}
#two .one{ width: 100%; height: 20px; text-align: center;}

/* 内容部分 */
#main_one{width: 100%; height: 1162px;}
#main_one .main_nei{ width: 100%; height: 200px; margin-top: 10px; background: #fff;}
#main_one .main_nei img{ width: 100%; height: 180px;}
#main_one a p.top{ width: 100%; height: 45px; color: #101410; font-size: 0.98em; padding: 5px 0 0 1%; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
#main_one a p.down{ height: 40px; line-height: 40px; margin-top: -20px; color: #E72D22; font-size: 1.5em;padding-left: 2%;}
#main_one a p.down span{ font-size: 0.4em; color: #A2A4A2;}
#main_one a p.down button{ padding:8px 15px; text-align: center; background: #E72C21; border-radius:5px; border:none; color: #fff; font-size: 0.7em; float: right; margin-right: 2%; margin-top: 4px;}

/* 服饰... */
#top_fenlei{ height: 180px; background: #fff; text-align: center; border-bottom:1px solid #EAE6EA;}
#top_fenlei dd{width: 25%; height: 86px; padding-top: 10px; float: left;}
#top_fenlei dd img{ width: 50px; height: 50px;}
#top_fenlei dd a p{ color: #636563; line-height: 30px;}

/* 整体内容  双排 */
#main_two{width: 100%; height: 1042px; margin-top: 5px;}
#main_two .left{ width: 49.5%; height: 235px; background: #fff; margin-top: 5px;}
#main_two .left img{ width: 100%;}
#main_two .left p.top{ height: 45px; margin-top: 5px; color: #101410; padding: 0 2%; font-size: 0.9em; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
#main_two .left p.down{ height: 30px; line-height: 30px; margin-top: -20px; padding:0 4%; color: #E72D22; font-size: 1.2em;}
#main_two .left p.down span{ font-size: 0.2em; color: #A2A4A2;}

/* footer */
footer{width: 100%; height: 60px; border-top:1px solid #F4F2F4; background: #fff; position: fixed; bottom: 0; z-index: 10000;}
footer ul li{ float: left; width: 20%; text-align: center; font-size: 1em; padding-top: 10px;}
footer ul li span{ font-size: 2em;}
footer ul li a{ color: #636563;}
footer ul li.home a{ color: #E72C21;}


/* 手机分辨率兼容 */
/* iPhone5 */
@media(min-width:320px){
/* 内容 */
    #main_one .main_nei{ height: 260px;}
}

/* S5 */
@media(min-width:360px){

/* 内容 */
    #main_one .main_nei{ height: 260px;}

/* 双排 */
    #main_two .left{ height: 250px;}
}

/* iPhone6 */
@media(min-width:375px){
/* 双排 */
    #main_two .left{ height: 260px;}

}

/* iPhone6 Plus */
@media(min-width:414px){

/* 两个 */
    #two{height: 170px;}
    #two .swiper-slide{ height: 80px;}

/* 内容 */
    #main_one .main_nei{ height: 280px;}
    #main_one .main_nei img{ width: 100%; height: 200px;}
/* 双排 */
    #main_two .left{ height: 280px;}

}

/* 455px */
@media(min-width:455px){
/* 内容 */
    #main_one .main_nei{ height: 290px;}

/* 双排 */
    #main_two .left{ height: 290px;}

}

/* 470px */
@media(min-width:470px){
/* banner */
    #banner{ width: 100%; height: 200px;}

/* 内容 */
    #main_one .main_nei{ height: 330px;}
    #main_one a p.top{ height: 55px; font-size: 1.2em;}
    #main_one a p.down{ height: 60px; padding-top: 10px; font-size: 1.8em;}
    #main_one a p.down span{ font-size: 0.7em;}
    #main_one .main_nei img{ width: 100%; height: 220px;}

/* 服饰 */
    #top_fenlei{ height: 210px;}
    #top_fenlei dd{width: 25%; height: 100px; float: left;}
    #top_fenlei dd img{ width: 60px; height: 60px;}
    #top_fenlei dd a p{ line-height: 30px; font-size: 1.2em;}

/* 双排 */
    #main_two .left{ height: 320px;}
    #main_two .left p.top{ height: 40px; font-size: 1.1em;}
    #main_two .left p.down{ height: 40px; line-height: 40px; margin-top: -8px; font-size: 1.8em;}
    #main_two .left p.down span{ font-size: 0.6em;}
}

/* 500px */
@media(min-width:500px){
/* banner */
    #banner{ width: 100%; height: 240px;}

/* 内容 */
    #main_one .main_nei{ height: 350px;}
    #main_one a p.top{ height: 55px; font-size: 1.5em;}
    #main_one a p.down{ font-size: 2em;}

/* 双排 */
    #main_two .left{ height: 340px;}
    #main_two .left p.top{ font-size: 1.3em;}
    #main_two .left p.down{ font-size: 2em;}
    #main_two .left p.down span{ font-size: 0.6em;}
}

/* 530px */
@media(min-width:530px){
/* banner */
    #banner{ width: 100%; height: 240px;}

/* 内容 */
    #main_one .main_nei{ height: 370px;}
    #main_one a p.top{ height: 55px; font-size: 1.3em;}
    #main_one a p.down{ font-size: 2em;}
    #main_one .main_nei img{ width: 100%; height: 245px;}

/* 双排 */
    #main_two .left{ height: 350px;}
    #main_two .left p.top{ font-size: 1.3em;}
    #main_two .left p.down{ font-size: 2em;}
    #main_two .left p.down span{ font-size: 0.6em;}
}

/* 556px */
@media(min-width:556px){
/* banner */
    #banner{ width: 100%; height: 260px;}

/* 内容 */
    #main_one .main_nei{ height: 390px;}
    #main_one a p.top{ font-size: 1.4em;}
    #main_one a p.down{ font-size: 2em;}
    #main_one .main_nei img{ width: 100%; height: 260px;}

/* 双排 */
    #main_two .left{ height: 360px;}
}

/* iphone5横屏 */
@media(min-width:568px){

/* banner */
    #banner{ width: 100%; height: 180px;}

/* 内容 */
    #main_one .main_nei{ height: 410px;}
    #main_one a p.top{ height: 50px; font-size: 1.4em; }
    #main_one .main_nei img{ width: 100%; height: 290px;}

/* 服饰 */
    #top_fenlei{ height: 210px;}

/* 双排 */
    #main_two .left{ height: 360px;}
    #main_two .left p.top{ height: 40px; margin-top: 0;}
    #main_two .left p.down{ height: 40px; line-height: 40px; font-size: 1.6em;}
    #main_two .left p.down span{font-size: 0.8em;}
}

/* 580 */
@media(min-width:580px){
/* 双排 */
    #main_two .left{ height: 380px;}
}

/* 600px */
@media(min-width:600px){

/* banner */
    #banner{ width: 100%; height: 270px;}

/* 内容 */
    #main_one .main_nei{ height: 430px;}
    #main_one .main_nei img{ width: 100%; height: 310px;}
/* 服饰 */
    #top_fenlei{ height: 210px;}

/* 双排 */
    #main_two .left{ height: 400px;}
    #main_two .left p.down{ font-size: 1.8em;}
    #main_two .left p.down span{font-size: 0.8em;}
}

/* S5横屏 */
@media(min-width:640px){
/* 两排座标 */
    #two{ height: 180px;}
/* banner */
    #banner{ width: 100%; height: 240px;}

/* 内容 */
    #main_one .main_nei{ height: 420px;}
    #main_one .main_nei img{ width: 100%; height: 300px;}
/* 双排 */
    #main_two .left{ height: 400px;}
    #main_two .left p.top{ height: 30px; margin-top: 0; font-size: 1.2em;}
    #main_two .left p.down{ height: 50px; line-height: 50px; padding:0 4%; font-size: 1.8em;}
    #main_two .left p.down span{ font-size: 0.8em;}
}

/* iPhone6横屏 */
@media(min-width:667px){

/* 内容 */
    #main_one .main_nei{ height: 420px;}
    #main_one a p.top{height: 45px; line-height: 30px; font-size: 1.4em;}
    #main_one a p.down{ height: 40px; line-height: 40px; font-size: 2em;}
    #main_one .main_nei img{ width: 100%; height: 310px;}

/* 服饰 */
    #top_fenlei{ height: 230px;}

/* 双排 */
    #main_two .left{ height: 420px;}
    #main_two .left p.top{ font-size: 1.2em;}
    #main_two .left p.down{ font-size: 1.8em;}
    #main_two .left p.down span{ font-size: 0.8em;}
}

/* 690px */
@media(min-width:690px){

/* 内容 */
    #main_one .main_nei{ height: 430px;}
    #main_one a p.top{height: 45px; line-height: 30px; font-size: 1.4em;}
    #main_one a p.down{ height: 40px; line-height: 40px; font-size: 2em;}

/* 服饰 */
    #top_fenlei{ height: 260px;}

/* 双排 */
    #main_two .left{ height: 420px;}
    #main_two .left p.top{ font-size: 1.3em;}
    #main_two .left p.down{ font-size: 1.8em;}
    #main_two .left p.down span{ font-size: 0.8em;}
}

/* 710px */
@media(min-width:710px){

/* 双排 */
    #main_two .left{ height: 430px;}
}

/* 715px */
@media(min-width:715px){

/* 内容 */
    #main_one .main_nei{ height: 440px;}
    #main_one a p.top{height: 45px; line-height: 30px; font-size: 1.4em;}
    #main_one a p.down{ height: 40px; line-height: 40px; font-size: 2em;}
    #main_one .main_nei img{ width: 100%; height: 320px;}
/* 服饰 */
    #top_fenlei{ height: 260px;}

/* 双排 */
    #main_two .left{ height: 440px;}
    #main_two .left p.top{ font-size: 1.3em;}
    #main_two .left p.down{ font-size: 1.8em;}
    #main_two .left p.down span{ font-size: 0.8em;}
}

/* Nexus6P横屏 */
@media(min-width:736px){
/* 两排座标 */
    #two{ height: 180px;}


/* banner */
    #banner{ width: 100%; height: 230px;}

/* 内容 */
    #main_one .main_nei{ height: 450px;}
    #main_one a p.top{ height: 40px; line-height: 40px; font-size: 1.1em; padding: 0 0 0 1%; }
    #main_one .main_nei img{ width: 100%; height: 350px;}
/* 服饰 */
    #top_fenlei{ height: 230px;}

/* 双排 */
    #main_two .left{ height: 450px;}
    #main_two .left p.top{ font-size: 1.1em;}
}

/* iPad */
@media(min-width:768px){
/* banner */
    #banner{ width: 100%; height: 200px;}

/* 内容 */    
    #main_one .main_nei{ height: 460px;}
    #main_one a p.top{ font-size: 1.4em;}
    #main_one a p.down{ height: 40px; line-height: 40px; font-size: 1.9em;}
    #main_one .main_nei img{ width: 100%; height: 360px;}
    #main_one a p.down span{ font-size: 0.6em;}
    #main_one a p.down button{ padding:8px 15px; text-align: center; font-size: 0.7em; float: right; margin-right: 2%; margin-top: 4px;}

/* 两个 */
    #two{height: 180px;}
    #two .swiper-slide{ height: 90px;}

/* 服饰 */
    #top_fenlei{ height: 280px; text-align: center; border-bottom:1px solid #EAE6EA;}
    #top_fenlei dd{width: 25%; height: 140px; padding-top: 10px; float: left;}
    #top_fenlei dd img{ width: 100px; height: 100px;}
    #top_fenlei dd a p{ line-height: 30px;}

/* 双排 */
    #main_two .left{ height: 460px;}
}

/* 800px */
@media(min-width:800px){
/* banner */
    #banner{ width: 100%; height: 260px;}

/* 内容 */    
    #main_one .main_nei{ height: 480px;}
    #main_one a p.down{ font-size: 2.2em;}

/* 两个 */
    #two{height: 200px;}

/* 服饰 */
    #top_fenlei{ height: 300px;}

/* 双排 */
    #main_two .left{ height: 480px;}
    #main_two .left p.top{font-size: 1.2em;}
    #main_two .left p.down{ font-size: 1.6em;}
    #main_two .left p.down span{ font-size: 0.8em;}

}

/* 830px */
@media(min-width:830px){
/* banner */
    #banner{ width: 100%; height: 260px;}

/* 内容 */    
    #main_one .main_nei{ height: 500px;}
    #main_one a p.down{ font-size: 2.2em;}
    #main_one .main_nei img{ width: 100%; height: 380px;}
/* 两个 */
    #two{height: 200px;}

/* 服饰 */
    #top_fenlei{ height: 300px;}

/* 双排 */
    #main_two .left{ height: 500px;}
    #main_two .left p.top{ font-size: 1.3em;}
}

/* 870px */
@media(min-width:870px){
/* banner */
    #banner{ width: 100%; height: 260px;}

/* 内容 */    
    #main_one .main_nei{ height: 520px;}
    #main_one a p.down{ font-size: 2.2em;}
    #main_one .main_nei img{ width: 100%; height: 400px;}
/* 两个 */
    #two{height: 200px;}

/* 服饰 */
    #top_fenlei{ height: 300px;}

/* 双排 */
    #main_two .left{ height: 520px;}
    #main_two .left p.top{ font-size: 1.3em;}
}

/* 910px */
@media(min-width:910px){
/* banner */
    #banner{ width: 100%; height: 280px;}

/* 内容 */    
    #main_one .main_nei{ height: 540px;}
    #main_one a p.down{ font-size: 2.2em;}
    #main_one .main_nei img{ width: 100%; height: 420px;}

/* 两个 */
    #two{height: 200px;}

/* 服饰 */
    #top_fenlei{ height: 300px;}

/* 双排 */
    #main_two .left{ height: 540px;}
    #main_two .left p.top{ font-size: 1.4em;}
    #main_two .left p.down{ font-size: 1.8em;}
}

/* 950px */
@media(min-width:950px){
/* banner */
    #banner{ width: 100%; height: 300px;}

/* 内容 */    
    #main_one .main_nei{ height: 560px;}
    #main_one a p.down{ font-size: 2.2em;}
    #main_one .main_nei img{ width: 100%; height: 440px;}

/* 双排 */
    #main_two .left{ height: 560px;}
}

/* 995px */
@media(min-width:995px){
/* banner */
    #banner{ width: 100%; height: 320px;}

/* 内容 */    
    #main_one .main_nei{ height: 580px;}
    #main_one .main_nei img{ width: 100%; height: 460px;}

/* 双排 */
    #main_two .left{ height: 580px;}
}

/* iPad横屏 */
@media(min-width:1024px){
/* banner */
    #banner{ width: 100%; height: 300px;}

/* 内容 */    
    #main_one .main_nei{ height: 620px;}
    #main_one a p.top{ height: 55px; line-height: 50px; font-size: 1.8em;}
    #main_one a p.down{ height: 50px; line-height: 50px; font-size: 2.4em;}
    #main_one .main_nei img{ width: 100%; height: 480px;}
    #main_one a p.down span{ font-size: 0.6em;}
    #main_one a p.down button{ padding:8px 15px; text-align: center; font-size: 0.7em; float: right; margin-right: 2%; margin-top: 4px;}

/* 两个 */
    #two{height: 200px;}
    #two .swiper-slide{ height: 90px;}

/* 服饰 */
    #top_fenlei{ height: 300px; text-align: center; border-bottom:1px solid #EAE6EA;}
    #top_fenlei dd{width: 25%; height: 140px; float: left;}
    #top_fenlei dd img{ width: 100px; height: 100px;}
    #top_fenlei dd a p{ line-height: 30px; font-size: 1.2em;}

/* 双排 */
    #main_two .left{ height: 600px;}
    #main_two .left p.top{ height: 40px; font-size: 1.45em;}
    #main_two .left p.down{ height: 30px; line-height: 30px;font-size: 2em;}
    #main_two .left p.down span{ font-size: 0.8em;}
}

/* 1080px */
@media(min-width:1080px){
/* banner */
    #banner{ width: 100%; height: 340px;}

/* 内容 */    
    #main_one .main_nei{ height: 640px;}
    #main_one .main_nei img{ width: 100%; height: 500px;}
/* 双排 */
    #main_two .left{ height: 630px;}
}

/* 1120px */
@media(min-width:1120px){
/* banner */
    #banner{ width: 100%; height: 340px;}

/* 内容 */    
    #main_one .main_nei{ height: 660px;}
    #main_one .main_nei img{ width: 100%; height: 520px;}

/* 双排 */
    #main_two .left{ height: 650px;}
}

/* 1160px */
@media(min-width:1160px){
/* banner */
    #banner{ width: 100%; height: 340px;}

/* 内容 */    
    #main_one .main_nei{ height: 680px;}
    #main_one .main_nei img{ width: 100%; height: 540px;}

/* 双排 */
    #main_two .left{ height: 670px;}
}

/* 1200px */
@media(min-width:1200px){
/* banner */
    #banner{ width: 100%; height: 350px;}

/* 内容 */    
    #main_one .main_nei{ height: 700px;}
    #main_one .main_nei img{ width: 100%; height: 560px;}

/* 双排 */
    #main_two .left{ height: 680px;}
}

/* 1240px */
@media(min-width:1240px){
/* banner */
    #banner{ width: 100%; height: 350px;}

/* 内容 */    
    #main_one .main_nei{ height: 720px;}
    #main_one .main_nei img{ width: 100%; height: 580px;}

/* 双排 */
    #main_two .left{ height: 710px;}
}

/* 1290px */
@media(min-width:1290px){
/* banner */
    #banner{ width: 100%; height: 350px;}

/* 内容 */    
    #main_one .main_nei{ height: 740px;}
    #main_one .main_nei img{ width: 100%; height: 600px;}

/* 双排 */
    #main_two .left{ height: 730px;}
}

/* 1330px */
@media(min-width:1330px){
/* banner */
    #banner{ width: 100%; height: 360px;}

/* 内容 */    
    #main_one .main_nei{ height: 760px;}
    #main_one .main_nei img{ width: 100%; height: 620px;}

/* 双排 */
    #main_two .left{ height: 750px;}
}

/* 1370px */
@media(min-width:1370px){
/* banner */
    #banner{ width: 100%; height: 380px;}

/* 内容 */    
    #main_one .main_nei{ height: 780px;}
    #main_one .main_nei img{ width: 100%; height: 640px;}

/* 双排 */
    #main_two .left{ height: 770px;}
}

/* 1410px */
@media(min-width:1410px){
/* banner */
    #banner{ width: 100%; height: 380px;}

/* 内容 */    
    #main_one .main_nei{ height: 800px;}
    #main_one .main_nei img{ width: 100%; height: 660px;}

/* 双排 */
    #main_two .left{ height: 790px;}
}

/* 1450px */
@media(min-width:1450px){
/* banner */
    #banner{ width: 100%; height: 400px;}

/* 内容 */    
    #main_one .main_nei{ height: 820px;}
    #main_one .main_nei img{ width: 100%; height: 680px;}
/* 双排 */
    #main_two .left{ height: 810px;}
}

/* 1500px */
@media(min-width:1500px){
/* banner */
    #banner{ width: 100%; height: 400px;}

/* 内容 */    
    #main_one .main_nei{ height: 840px;}
    #main_one .main_nei img{ width: 100%; height: 700px;}
/* 双排 */
    #main_two .left{ height: 830px;}
}

/* 1540px */
@media(min-width:1540px){
/* banner */
    #banner{ width: 100%; height: 400px;}

/* 内容 */    
    #main_one .main_nei{ height: 860px;}
    #main_one .main_nei img{ width: 100%; height: 720px;}

/* 双排 */
    #main_two .left{ height: 850px;}
}

/* 1580px */
@media(min-width:1580px){
/* banner */
    #banner{ width: 100%; height: 400px;}

/* 内容 */    
    #main_one .main_nei{ height: 880px;}
    #main_one .main_nei img{ width: 100%; height: 740px;}

/* 双排 */
    #main_two .left{ height: 870px;}
}
